examples/week-04-state-interaction/package-lock.json
examples/chapter-05-shopping-list-context/shopping-list-context/package-lock.json
examples/week-07-flexbox-layout/package-lock.json
examples/week8-user-feedback-and-testing/project-1-user-feedback-react/package-lock.json
examples/week-08-user-feedback-and-testing/project-2-react-testing-examples/package-lock.json
